form(name="reg" onsubmit="alert('submit!'); return false").reg-form
    h1.reg-form__heading Заполните форму
    ul.reg-form__list
        li.reg-form__item 
            label.reg-form__label Ваше имя
                input(type="text", name="name", required placeholder="Имя" autofocus).reg-form__input
        li.reg-form__item 
            label.reg-form__label Фамилия
                input(type="text", name="surname", required placeholder="Фамилия").reg-form__input
        li.reg-form__item 
            label.reg-form__label Ваш Еmail
                input(type="email", name="email", required placeholder="Email").reg-form__input
        li.reg-form__item 
            label.reg-form__label Придумайте пароль
                input(type="password", name="password1", required placeholder="Пароль").reg-form__input
        li.reg-form__item 
            label.reg-form__label Повторите пароль
                input(type="password", name="password2", required placeholder="Снова пароль").reg-form__input
        li.reg-form__item 
            label.reg-form__label Дата рождения
                input(type="date", name="birthday").reg-form__input
        li.reg-form__item
            button(type="submit" name="submit" disabled).reg-form__button Отправить