form.reg-form
    h1.reg-form__main-heading fill the form
    label.reg-form__label
        h2.reg-form__heading Enter your name
        input(type="text", name="", placeholder="Name").reg-form__input
    label.reg-form__label
        h2.reg-form__heading Your surname
        input(type="text", name="", placeholder="Surname").reg-form__input
    label.reg-form__label
        h2.reg-form__heading Your email
        input(type="email", name="", placeholder="Email").reg-form__input
    label.reg-form__label
        h2.reg-form__heading Create a password
        input(type="password", name="", placeholder="Password").reg-form__input
    label.reg-form__label
        h2.reg-form__heading Repeat your password
        input(type="password", name="", placeholder="Password again").reg-form__input
    label.reg-form__label
        h2.reg-form__heading Enter your birthday
        input(type="date", name="").reg-form__input
    button(type="submit").reg-form__button submit